<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}




/* Add a red text color and an "x" when the requirements are wrong */

</style>
</head>
<body>

<h3>Reset Password</h3>


<div class="container">
    {%with messages= get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category,message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show mb-0" role="alert" style="color: brown;">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {%endfor%}
    {% endif %}
    {%endwith%}    

  <form action="/resetpassword/{{username}}" method="post">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" required>

    <label for="psw">Confirm Password</label>
    <input type="password" id="psw" name="repassword"  required>
    
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
