<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Success</title>
        <link href="{{url_for('static',filename='css/success.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <svg class="checkmark" viewBox="0 0 52 52">
            <circle class="checkmark-circle" fill="none" cx="26" cy="26" r="25"/>
            <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            <h3 style="text-align: center;color:green">SUCCESS</h3>
            <h3 style="text-align: center;color:green">Order has been placed successfully </h3>
            <center>
                <a href="/"><button type="button" class="btn btn-outline-success">OK</button></a>
            </center>
        </svg>
        
        
    </body>
</html>
